<div id="modal_tesis_imagenes" class="modal hide fade">
    <div id="modal_tesis_imagenes_header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h5>	Imágenes   </h5>
    </div>
    <div id="modal_tesis_imagenes_body" class="modal-body" data-toggle="modal-gallery" data-target="#modal-gallery">
    
    </div>
</div>