<div id="modal_tesis_documentos" class="modal hide fade">
    <div id="modal_tesis_documentos_header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h5>  Documentos  </h5>
    </div>
    <div id="modal_tesis_documentos_body" class="modal-body">
    
    </div>
</div>