<div id="modal_tesis_audios" class="modal hide fade">
    <div id="modal_tesis_audios_header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h5>  Audios  </h5>
    </div>
    <div id="modal_tesis_audios_body" class="modal-body">
    
    </div>
</div>