﻿<div id="modal_editar" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Editar</h3>
    </div>
    <div class="modal-body">
        <div class="thumbnail row-fluid">
            <div class="row-fluid">
                <div class="span12" style="margin-top: -13px">
                    <span class="label  pull-left">Datos de institución</span>  
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4" style="text-align: right; margin-right: 20px">
                    Nombre:
                </div>
                <div class="span6" style="text-align: left; margin-top: -5px">
                    <input id="ins_nombre_editar" class="input-xlarge" type="text" disabled>
                </div>
            </div>
             <div class="row-fluid">
                <div class="span4" style="text-align: right; margin-right: 20px">
                    Siglas:
                </div>
                <div class="span6" style="text-align: left; margin-top: -5px">
                    <input id="ins_siglas_editar" class="input-xlarge" type="text" placeholder="Siglas de institución">
                </div>
            </div>
			   <div class="row-fluid">
                <div class="span4" style="text-align: right; margin-right: 20px">
                    Dependencia:
                </div>
                <div class="span6" style="text-align: left; margin-top: -5px">
                    <input id="ins_dependencia_editar" class="input-xlarge" type="text" placeholder="Nombre de la dependencia">
                </div>
            </div>
			   <div class="row-fluid">
                <div class="span4" style="text-align: right; margin-right: 20px">
                    Sede:
                </div>
                <div class="span6" style="text-align: left; margin-top: -5px">
                    <input id="ins_sede_editar" class="input-xlarge" type="text" placeholder="Nombre de la sede">
                </div>
            </div>
      
            
            
        </div>
    </div>
    <div class="modal-footer">
        <a id="btn_editar"  editar-id="0" class="btn btn-success">Editar</a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
    </div>
</div>