<div class="row-fluid">

  <div class="span3 offset1">
    <p class='lead text-left'>
		        <h3 class="text-success" style="margin-bottom: 30px">Contacto</h3>
       </p>
 </div>
  
<div class="span10" > 
  <p class="lead text-left">
	  	
Para cualquier asunto relacionado con este sitio, no dude en contactar a su administrador <br>	
<a href='http://www.inecol.edu.mx/personal/index.php/vertebrados/59-juan-carlos-serio-silva'><strong>Dr. Juan Carlos Serio Silva</strong></a><br>
<br>
Red Biología y Conservación de Vertebrados <br>
<a href='http://www.inecol.edu.mx/'>Instituto de Ecología AC </a><br>
Carretera antigua a Coatepec <br>
No. 351, El Haya, CP 91070 <br> 
Xalapa, Veracruz, <br> 
México <br> 
<br>
Tel: <strong>+52 (228) 8 42 18 43 (directo) </strong><br> 
Tel: <strong>+52 (228) 8 42 18 00 ext 4109  </strong><br>
<br>
e.mail:<strong> juan.serio@inecol.mx  - serioju@yahoo.com</strong> <br> 
skype: <strong>juancarlosserio</strong>
<br> 	
O puede realizar un comentario en el sitio. <em><a href='{site_url("auth/login")}'>(Necesita Registrarse)<a></em> <br>  

<a id='Comentario1' href='#' class="btn btn-success"> Realizar Comentario </a> 
                      
<br>
</div>
<div class="span10" > 
  <p class="lead text-center">
<strong>Nos gustaría escuchar su opinión o sugerencias<br> ¡Gracias por su visita!</strong>
  </p>
</div>
  
</div>




