<div align=center>
	<h2> Agregar Especies </h2>
	<form method="post">
	    {$var}
	    Nombre: <input type="text" name="esp_nombre" />
	    <br/>
	    <button class="btn btn-success"> <i class="icon-white icon-ok"> </i> Agregar</button>
	    
	    
	</form>
</div>