.navbar-primary{ margin-bottom:0px;}
.navbar .container{max-width:1170px;}

@media (max-width: 768px ) {
	.navbar-secondary.navbar .nav > li > a{ padding-left:12px; padding-right:12px; } 
}



.table th, .table td{
	vertical-align:middle;
}


/*------------------------------
	Iconos
--------------------------------*/
.icon-admin{background: url("img/admin.png"); width: 16px; height:16px; display:inline-block;}
.icon-cliente{background: url("img/cliente.png"); width: 16px; height:16px; display:inline-block;}
.icon-paseador{background: url("img/paseador.png"); width: 16px; height:16px; display:inline-block;}
.icon-perro{background: url("img/perro.png"); width: 16px; height:16px; display:inline-block;}
.icon-encuesta{background: url("img/encuesta.png"); width: 16px; height:16px; display:inline-block;}


/*-------------------------------
  No more tables
 -------------------------------*/
@media only screen and (max-width: 480px) {
/* Force table to not be like tables anymore */
#no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
display: block;
}
 
/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
position: absolute;
top: -9999px;
left: -9999px;
}
 
#no-more-tables tr { border: 1px solid #ccc; }
 
#no-more-tables td {
/* Behave like a "row" */
border: none;
border-bottom: 1px solid #eee;
position: relative;
padding-left: 50%;
white-space: normal;
text-align:left;
}
 
#no-more-tables td:before {
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 45%;
padding-right: 10px;
white-space: nowrap;
text-align:left;
font-weight: bold;
}
 
/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }
}


/** Email */
.email{ text-transform:lowercase;}
.capitalize{ text-transform:capitalize;}

 

/**------------------------
 * 	Wizard FUEL FX
 * ------------------------*/

.fuelux .wizard {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.fuelux .wizard:before,
.fuelux .wizard:after {
  display: table;
  line-height: 0;
  content: "";
}

.fuelux .wizard:after {
  clear: both;
}

.fuelux .wizard ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.fuelux .wizard ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.fuelux .wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.fuelux .wizard ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #ededed;
  content: "";
}

.fuelux .wizard ul li.complete {
  color: #468847;
  background: #f3f4f5;
}

.fuelux .wizard ul li.complete:hover {
  cursor: pointer;
  background: #e7eff8;
}

.fuelux .wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #e7eff8;
}

.fuelux .wizard ul li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}

.fuelux .wizard ul li.active {
  color: #3a87ad;
  background: #f1f6fc;
}

.fuelux .wizard ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}

.fuelux .wizard ul li .badge {
  margin-right: 8px;
}

.fuelux .wizard ul li:nth-child(1) {
  z-index: 10;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.fuelux .wizard ul li:nth-child(2) {
  z-index: 9;
}

.fuelux .wizard ul li:nth-child(3) {
  z-index: 8;
}

.fuelux .wizard ul li:nth-child(4) {
  z-index: 7;
}

.fuelux .wizard ul li:nth-child(5) {
  z-index: 6;
}

.fuelux .wizard ul li:nth-child(6) {
  z-index: 5;
}

.fuelux .wizard ul li:nth-child(7) {
  z-index: 4;
}

.fuelux .wizard ul li:nth-child(8) {
  z-index: 3;
}

.fuelux .wizard ul li:nth-child(9) {
  z-index: 2;
}

.fuelux .wizard ul li:nth-child(10) {
  z-index: 1;
}

.fuelux .wizard .actions {
  float: right;
  padding-right: 15px;
  line-height: 44px;
  vertical-align: middle;
}

.fuelux .wizard .actions a {
  margin-right: 8px;
  font-size: 12px;
  line-height: 45px;
}

.fuelux .wizard .actions .btn-prev i {
  margin-right: 5px;
}

.fuelux .wizard .actions .btn-next i {
  margin-left: 5px;
}

.fuelux .step-content .step-pane {
  display: none;
}

.fuelux .step-content .active {
  display: block;
}

/** --------------------------
 * 	Agregar mascotas
 * -------------------------*/
.control-group.have-describe-field{margin-bottom:0px;}
.describe-field textarea{resize:vertical;}


/*--------------------------------------
 *  Veterinarias
 * ---------------------------------------*/
#win-agregar-veterinaria.modal{width:850px; margin-left:-425px;}
 
