.icon-key{ 
	background-image: url('img/key.png');
	background-position: 0 0;
}
header{
	margin: 0px;
	padding-top: 40px;
}
.navbar .brand {
	float:left;
}
.navbar .brand img{
	max-height: 40px
}
.navbar .btn-navbar{
	float:right;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}



.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: green;
  *background-color: green;
}

.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
  color: #ffffff;
  background-color: green;
}
.navbar-inverse .navbar-inner{
	color: black;
}
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused,
.navbar-inverse .navbar-search .search-query{
	color: rgb(85, 85, 85);
	background-color: white;
	padding: 4px 14px;
	margin-bottom: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	border-width: 0px;
	border-color: rgb(204, 204, 204);
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-inverse .btn-navbar {
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  background-color: #5bb75b;
  *background-color: #51a351;
}
.navbar-inverse .navbar-inner,.navbar-inverse .btn-navbar {

  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .brand, .navbar .nav>li>a{
	color: white;
	text-shadow: 0 0px 0 white;
}
.span12{
	margin: 0px;
	width: 100%;
	margin-left: 0px;
}
/** De moemnto para el alto de los botones de tesis y administración*/
#Administracion2, #Tesis2{ height: 20px!important;}

.frm-login label{text-align:left!important;}

.navbar .dropdown-menu{ text-align:left;}

@media (max-width: 980px) {
	.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
		border-top-color: green;
		border-bottom-color: green;
	}
	.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a{
		color: white;
	}
	.navbar-inverse .nav-collapse .nav>li>a,
	.navbar-inverse .nav-collapse .nav>li>a:hover, 
	.navbar-inverse .nav-collapse .nav>li>a:focus{
		background-color: green;
		color: white;
	}
	.navbar .brand {
		float:left;
	}
	.navbar .brand img{
		max-height: 55px
	}
	header{
		margin: 0px;
		padding-top: 0px;
	}
	.navbar-fixed-top{
		margin: 0px;
		padding-left: 0px;
		padding-right: 0px;	
	}
	body{
		margin: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width: 767px) {
	.navbar .brand {
		float:left;
	}
	.navbar .brand img{
		height: 55px
	}
	header{
		margin: 0px;
		padding-top: 0px;
	}
	.navbar-fixed-top{
		margin: 0px;
		padding-left: 0px;
		padding-right: 0px;		
	}
	body{
		margin: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.form-horizontal .control-label.no-padding{ padding-top: 0;}


/*------------------------------
 *  Orden de los filtros de tesis en catalogos/tesis
 -------------------------------*/
.filter{
	background: url("img/up-down.png") no-repeat scroll right center transparent;
	cursor: pointer; 
}
.filter-asc{
	background: url("img/up.png") no-repeat scroll right center transparent;
}
.filter-desc{
	background: url("img/down.png") no-repeat scroll right center transparent;
}
.filter span{ 
	padding-right: 16px;
}


/*---------------------------------
* Ancho de botones en las tablas
* ----------------------------------*/
table.tesis .btn{width:37px; }
table.tesis .btn-warning{ width: 46px;}
table.tesis .btn-danger{width:55px;}

td.btn-container {
	padding: 8px 1px;
}
.separation + td.btn-container {
	padding-left: 10px;
}


/*---------------------------------
 * Imágenes
 * --------------------------------*/
#modal_tesis_imagenes_body img{
	margin:10px;
	border:1px solid #021a40;
	background-color:#ff0;
	width: 170px;
	
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75)
}
#modal_tesis_imagenes_body{
	text-align:center;
}

.highlight{
	background-color:#FFFF00;
}
