<div class="row-fluid" >
<br>
<br>
	<div>
		<center>
			<img  width="30%"src='{base_url()}themes/default/img/E404.jpg'></img>
		</center>
	</div>		
	<div>
		<center>
			<h4>
			La dirección que indicaste no está en el mapa. <br>
			Te recomendamos volver al inicio para no estar perdido.
			</h4>
			<a class="btn btn-success"  href='{site_url('/home')}'> Ir a inicio</a>
		</center>
	</div>		
</div>