

<table>
<tr><h4><font color="green"><p aling="center">¿Está seguro que quiere desactivar al usuario {$user->username}?</p></font></h4></tr>


<form method="post" accept-charset="utf-8" action="{base_url()}index.php/auth/deactivate/{$user->id}">

  <tr><p>
  	<span class="label ">Si:</span>
    <input type="radio" align="center" name="confirm" value="yes" checked="checked" />
  
    <span class="label ">No:</span>
    <input type="radio" align="right" name="confirm" value="no" />
    </tr>
  </p>
  {foreach from=$csrf key=k item=v}
  	<input type="hidden" name="{$k}" value="{$v}"/>
  {/foreach}
	<input type="hidden" name="id" value="{$user->id}"/>
  <tr>
  <p><input align="right" class="btn btn-success" type="submit" name="submit" value="Enviar"/></p>
  </tr>
</table>
</form>
</div></div>